/*
Style Sheet Written by Tyler Mulligan
http://www.detrition.net
*/
body {
	height:100%;
	margin:0;
	padding:20px;
	font-family:Verdana, Arial, Tahoma, Sans Serif;
	background-color:#A8A8A8;
	color:#999999;
}


h1 { font-size:25px; }
h2 { font-size:16px; }
h1, h2 { text-align:right; }

a {	color:#E2E2E2; }
a:hover { color:#FDFDFD; }

#header {
	float:right;
}

#test_case {
	float:left;
	background:#FDFDFD url('img/color_test_desaturated.png') 0 0 no-repeat;
	width:99px;
	height:718px;
	border:4px solid #FDFDFD;
}

#test {
	float:left;
	width:500px;
	height:718px;
	padding:16px 20px 20px 120px;
}

#test div.red { background-color: #D5D5D5; color: #B7B7B7; }
#test div.green { background-color: #CACACA; color: #F3F3F3; }
#test div.blue { background-color: #9F9F9F; color: #B0B0B0; }
#test div.yellow { background-color: #7C7C7C; color: #A5A5A5; }
#test div.cyan { background-color: #C0C0C0; color: #E9E9E9; }
#test div.pink { background-color: #959595; color: #EFEFEF; }


#test div.r1 { background-color:#E1E1E1; }
#test div.r2 { background-color:#6C6C6C; }
#test div.r3 { background-color:#F6F6F6; }
#test div.r4 { background-color:#F1F1F1; }
#test div.r5 { background-color:#7C7C7C; }
#test div.r6 { background-color:#B7B7B7; }
#test div.r7 { background-color:#919191; }
#test div.r8 { background-color:#CCCCCC; }
#test div.r9 { background-color:#575757; }
#test div.r10 { background-color:#E9E9E9; }
#test div.r11 { background-color:#C4C4C4; }
#test div.r12 { background-color:#8F8F8F; }
#test div.r13 { background-color:#B2B2B2; }
#test div.r14 { background-color:#A5A5A5; }
#test div.r15 { background-color:#C8C8C8; }
#test div.r16 { background-color:#BABABA; }
#test div.r17 { background-color:#B4B4B4; }
#test div.r18 { background-color:#EFEFEF; }
#test div.r19 { background-color:#C9C9C9; }
#test div.r20 { background-color:#EDEDED; }
#test div.r21 { background-color:#DFDFDF; }
#test div.r22 { background-color:#EAEAEA; }
#test div.r23 { background-color:#A5A5A5; }
#test div.r24 { background-color:#8720; }
#test div.r25 { background-color:#FAFAFA; }
#test div.r26 { background-color:#9D9D9D; }
#test div.r27 { background-color:#C0C0C0; }
#test div.r28 { background-color:#B2B2B2; }
#test div.r29 { background-color:#ACACAC; }
#test div.r30 { background-color:#E7E7E7; }
#test div.r31 { background-color:#C1C1C1; }
